@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
  color: black;
  background: #f0f0f0;
}

.click-me {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-weight: 400;
  font-size: 8em;
  letter-spacing: -0.045em;
  white-space: nowrap;
}

.content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px;
  overflow-y: auto;
  padding: 0;
}

.wrapper {
  padding: 10px;
  width: 668px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
}
/* .canvas {
  width: 100%;
  height: 100%;
  display: block;
} */

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .click-me {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .click-me {
    font-size: 3rem;
  }
}